name: Create and publish a Docker image

on:
  push:
    branches: ['master']
  pull_request:
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    name: Build and Push github-pr-resource image
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Prepare
        id: prep
        run: |
          EVENT_NAME=${{ github.event_name }}
          IS_FORK=${{ github.event.pull_request.head.repo.fork }}

          echo "Event Name = $EVENT_NAME"
          echo "Is Fork = $IS_FORK"
          
          if [ "$EVENT_NAME" = "push" ]; then
            echo "::set-output name=should_push::true"
          elif [ "$EVENT_NAME" = "pull_request" ]; then
            if [ "$IS_FORK" = "true" ]; then
              echo "::set-output name=should_push::false"
            else
              echo "::set-output name=should_push::true"
            fi
          fi

      - name: Log in to the Container registry
        if: ${{ steps.prep.outputs.should_push == 'true' }}
        uses: docker/login-action@6af3c118c8376c675363897acf1757f7a9be6583
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@a2e02890a0d28163b34ac2e4b575b9264a5ee3e2
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      - name: Build and push
        uses: docker/build-push-action@a66e35b9cbcf4ad0ea91ffcaf7bbad63ad9e0229
        with:
          context: .
          push: ${{ steps.prep.outputs.should_push == 'true' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
